@using Microsoft.AspNetCore.Identity
@using BugTracker.Data.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @*<li class="nav-item dropdown float-right">
        <a href="#" class="dropdown-toggle user-drop-down" id="user-drop-down" data-toggle="drop-down" role="button" aria-expanded="false">
            <img src="~/lib/octicons/svg/squirrel.svg" />
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Settings</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>*@
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name.Split('@')[0]</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
</ul>
